*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    background-color: rgba(89, 184, 145, 0.589);
    margin: $spacing-2;
    padding: $spacing-2;
}
.titulo-page {
    color:white;
    background-color: #000000;
    padding: 10px;
    border-radius: 1rem;
}
nav {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: hsla(309, 69%, 65%, 0.105);
    width: 100vw;
    height: 100px;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.026),rgba(0, 0, 0, 0.092)) , url(../img/pexels-pixabay-159711.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    ul {
        display: flex;   
        list-style: none;

        li {
            color:#000000;
            text-decoration: none;
            background-color: #f98383a9;
            font-weight: 500;
            font-size: 18px;
            border: black solid 2px;
            margin: 5px;
            padding: 5px;
            /* agregando transform rotate */
           transform: rotate(10deg);
          }
          li:hover{
                   background-color: #caf07e91;
    
                   }
       }
}
p {
    font-size: $font-1;
    padding: $spacing-1;
    margin: $spacing-1;
}
section {        
        padding: $spacing-1;
        margin: $spacing-1;
}
footer {
    p {
        background-color: rgba(128, 128, 128, 0.477);
        font-size: 20px;
        padding: $spacing-1;
        margin: $spacing-1;
    }
}