ul {
    display: flex;   
    list-style: none;

    li {
        text-decoration: none;
        background-color: #ffffff;
        font-weight: 500;
        font-size: 18px;
        border: black solid 2px;
        margin: 5px;
        padding: 5px;
        /* agregando transform rotate */
        transform: rotate(10deg);
       }
       li:hover{
        background-color: #20e395;
    
    }
}